html
    head
        title Fighter Stats
        link(rel='stylesheet', href='/stylesheets/layout.css')
    body
        form(action="/add/", method="post")
            | Name:
            input(type="text", name="fightername")
            br
            | Player ID:
            input(type="text", name="player_name")
            br
            input(type="submit", value="Add Fighter")
        a(href='../') Home
