html
  head
    title Fighter Stats
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    form(action="/search/", method="post")
      | Fighter Search:
      input(type="text", name="search")
      br
      input(type="submit", value="Search")
    a(href='/list/players/') List All Players
    br
    a(href='/list/fighters/') List All Fighters
    br
    a(href='/add') New Fighter
    br
    //- a=gitURL.html_url 
    a(href=gitURL.html_url) Link to Github
    <h1>
     hey this is our browser bases data for JSFIghter
    
    </h1>

    //- a(href=gitURL)Github
