
body {
  background-image: linear-gradient(yellow, red);
}

.spartBox {
  text-align: center;
  border: black;
  border-width: 1px;
  border-style:  solid;
  width: 200px;
}
.spartRow {
  text-align: center;
  display: flex;
  border: black;
  border-width: 1px;
  border-style:  solid;
  margin: 2px;
  justify-content: space-between;
}
.spartCell {
  text-align: center;
  margin: 2px;
}
body {
    text-align: center;
    font-size: 30;
  background-color: #675b85
}
title {
  color: #00004d
}
form{
  color: #1100fa
}
